# Ambiente activo para Spring Boot
SPRING_PROFILES_ACTIVE=dev|prod

# Datos de conexión a la base de datos PostgreSQL
POSTGRES_DB=postgres
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Datos de administrador de Spring Security
SECURITY_USER_NAME=username
SECURITY_USER_PASSWORD=password

# Datos de configuración de Keycloak y realm
KEYCLOAK_START_CMD=start --import-realm

KEYCLOAK_HOSTNAME=https://keycloak.sitio.com
KEYCLOAK_HOSTNAME_ADMIN=https://keycloak-admin.sitio.com

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=password

KEYCLOAK_REALM=keycloak

KEYCLOAK_CLIENT_ID=keycloak-confidential
KEYCLOAK_CLIENT_SECRET=secret

KEYCLOAK_URL_ROOT=https://frontend.sitio.com
KEYCLOAK_URL_REDIRECT=/login/oauth2/code/keycloak-confidential
KEYCLOAK_URL_REDIRECT_LOGOUT=/logout
KEYCLOAK_URL_ADMIN=/admin
KEYCLOAK_URL_BASE=/

# Datos del administrador del sistema
SYSTEM_ADMIN_USERNAME=admin
SYSTEM_ADMIN_EMAIL=mail@example.com
SYSTEM_ADMIN_FIRSTNAME=Nombre
SYSTEM_ADMIN_LASTNAME=Apellido
SYSTEM_ADMIN_PASSWORD=password