# Ambiente activo para Spring Boot
SPRING_PROFILES_ACTIVE=dev|prod

# Datos de conexión a la base de datos PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Datos de administrador de Spring Security
SECURITY_USER_NAME=admin
SECURITY_USER_PASSWORD=pass

# Datos de administrador y conexión con Keycloak
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=pass
KEYCLOAK_CLIENT_ID=keycloak-client
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8080/realms/keycloak
KEYCLOAK_REDIRECT_URI=http://localhost:8080/login/oauth2/code/keycloak-client