/.vscode

# Ignorar archivos de entorno, excepto el ejemplo
.env*
!.env.example

# Ignorar archivos de PostgreSQL, excepto el script de inicialización
/poc-pgsql/*
!/poc-pgsql/init
!/poc-pgsql/Dockerfile

# Ignorar archivos de Keycloak, excepto la carpeta de importación
/poc-keycloak/*
!/poc-keycloak/import